@font-face {
	font-family: "source sans";
	src: url("fonts/SourceSansPro-Regular.ttf") ;
}
@font-face {
	font-family: "source sans light";
	src: url("fonts/SourceSansPro-Light.ttf") ;
}
@font-face {
	font-family: "source sans bold";
	src: url("fonts/SourceSansPro-Bold.ttf") ;
}

/**************Main pagina en font styling**************/


body { 
	position: relative;
	display: block;
    background-color: white;
    margin:auto;
}


h1,h2,h3,h4,p {
	font-family: 'source sans';
	font-weight: 400;
	text-align: center;
}

section,div {
	margin: auto;
}

/**************Hidden styling**************/
.hide {
	visibility: hidden;
}

/**************Header en Navigation styling**************/


.headerbalk{
	position: relative;
	display: inline;
}

header {
 	position:relative;
	top:0;
	left:0;
	right:0;
	margin:0; padding:.4em;
	display: block;	
	background-color: #6EE6DD;
}

header p {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;

}

/*img:first-of-type {
	position: relative;
	height: auto;
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:auto; 
	padding:.5em;
	align-items:center;
}*/

nav {
	font-family: 'source sans bold';
}

nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

nav a:focus{
	color: #FFB300;
}

nav a:hover{
	color: #FFB300;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	margin: 0;

}
nav li {
	margin: 1em;
}

.searchbutton {
	position: relative;
	display: inline;
	border: none;
	height: 25px;
	width: 25px;
	margin: auto;
	background-image: url("..//..//images/search.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.cartbutton {
	position: relative;
	display: inline;
	border: none;
	height: 25px;
	width: 25px;
	margin: auto;
	background-image: url("..//..//images/cart.png");
	background-repeat: no-repeat;
	background-size: cover;
}
input {
	position: relative;
	display: inline;
	border: none;
	height: 2em;
	margin: auto;
}

/**************Speciaal button styling**************/

#btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin: auto;
	background-color: #FFC232;
	color: white;
	font-size: 1em;
	padding: 15px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}

#btn:focus {
	background-color: #FFCC53;
	transition: .3s;
}
#btn:hover {
	background-color: #FFCC53;
	transition: .3s;
}

#subscribebutton {
	position: relative;
	margin: auto;
	background-color: #FFC232;
	color: white;
	font-size: 1em;
	padding: 15px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}

#subscribebutton:focus {
	background-color: #FFCC53;
	transition: .3s;
}
#subscribebutton:hover {
	background-color: #FFCC53;
	transition: .3s;
}
/**************Standaard button styling**************/


button {
	position: relative;
	display: block;
	margin: auto;
	background: transparent;
}

button:focus {
	transform: translateY(3px);
}
button:hover {
	transform: translateY(3px);
}  

/*button {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	margin:0; padding:.5em;
	height: auto;
	max-width: 100%;
}*/
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: .5s;
	animation-name: fade;
	animation-duration: .5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**************codepen code carrousel**************/
.testimonials {
   max-width: 100em;
   margin: auto;
   position: relative;
}
.testimonials .btn {
   position: absolute;
   top: 50%;
   margin-top: 20px;
   height: 30px;
   width: 30px;
   border-radius: 15px;
   background-color: rgba(95, 106, 117, 0.3);
   z-index: 1;
   line-height: 30px;
   text-align: center;
   color: white;
   font-weight: bold;
}
.testimonials .btn:hover {
   background-color: rgba(95, 106, 117, 0.5);
   cursor: pointer;
}
.testimonials .btn.next {
   right: 15px;
}
.testimonials .btn.prev {
   left: 15px;
}
.scroller {
   overflow-x: scroll;
   display: flex;
   scroll-snap-type: x mandatory;
}
.item {
   min-width: 100%;
   min-height: 5em;
   scroll-snap-align: center;
}
/**************Standaard styling IMG**************/


img {
    display: block;
    max-height: auto;
    max-width: 50%;
    margin: 0 auto;
    padding: .5em;
}

article:hover {
	background-color:rgba(192,192,192,0.3);
  	transform: translateY(3px);
  	transition: .3s;
}


/**************Body sections styling**************/


body > section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	grid-gap: 1 rem;
}

body > section:nth-of-type(3) {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	grid-gap: 1 rem;
}

body > section container:nth-of-type(4) {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	grid-gap: 1 rem;
}

/**************Footer styling**************/




footer {
	font-family: 'source sans light';
 	position:relative;
	top:0;
	left:0;
	right:0;
	margin:0; padding:.5em;
	background-color: #FF5D3F;
}

footer p {
	padding: 1em;
	font-family: 'source sans bold';
	margin: auto;
	align-items:center;
	text-align: center;
}

footer ul {
	margin: auto;
	list-style:none;
	margin: 0;
	padding: 0;
	align-items:center;
	text-align: center;
}

footer li {
	margin: auto;
	list-style:none;
	margin: 0;
	padding: 0;
	align-items:center;
	text-align: center;
}

/**************Foto bladeren IMG grootte**************/

#fotobladeren {
	position: relative;
	width: 50%;
}

/**************Alle focus elementen**************/

article:focus {
	transition: .3s;
	outline: 3px solid orange;
	background: #F6F0EB;	
}
button:focus {
	transition: .3s;
	outline: 3px solid orange;
}
a:focus {
	transition: .3s;
	outline: 3px solid orange;
	background: #F6F0EB;	
}
form:focus {
	transition: .3s;
	outline: 3px solid orange;
	background: #F6F0EB;	
}



/*#fotobladeren #btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #FFB300;
	color: white;
	font-size: 1em;
	padding: 15px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}*/

/*section > button:nth-of-type(1) {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #FFC232;
	color: white;
	font-size: 1em;
	padding: 15px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}*/

/*#fotobladeren img {
    display: block;
    max-height: 30em;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em;
}
#fotobladeren2 img {
    display: block;
    max-height: 30em;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em;
}*/

/*************Media element posities code*******/


@media (min-width: 40em){

	body > section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	}

	body > section:nth-of-type(2) article {
	}

	body > section:nth-of-type(2) h2 {
	grid-column: 1 / -1;	
	}
}

@media (min-width: 60em){

	body > section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	}
}

@media (min-width: 75em){

	body > section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: start;
	}
}


@media (min-width: 40em){

	body > section:nth-of-type(3) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	}

	body > section:nth-of-type(3) article {
	}

	body > section:nth-of-type(3) h2 {
	grid-column: 1 / -1;	
	}
}

@media (min-width: 60em){

	body > section:nth-of-type(3) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	}
}

@media (min-width: 75em){

	body > section:nth-of-type(3) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: start;
	}
}

@media (min-width: 40em){

	body > section:nth-of-type(5) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	}

	body > section:nth-of-type(5) article {
	}

	body > section:nth-of-type(5) h2 {
	grid-column: 1 / -1;	
	}
}

@media (min-width: 60em){

	body > section:nth-of-type(5) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	}
}

@media (min-width: 75em){

	body > section:nth-of-type(5) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	}
}