@font-face {
  font-family: "source sans";
  src: url("fonts/SourceSansPro-Regular.ttf") ;
}
@font-face {
  font-family: "source sans light";
  src: url("fonts/SourceSansPro-Light.ttf") ;
}
@font-face {
  font-family: "source sans bold";
  src: url("fonts/SourceSansPro-Bold.ttf") ;
}


body { 
	position: relative;
	display: block;
    background-color: white;
    margin:auto;
}

section,div {
	margin: auto;
}

h1,h2,h3,h4,p {
	font-family: 'source sans';
	font-weight: bold;
	text-align: center
}

header {
 	position:relative;
	top:0;
	left:0;
	right:0;
	margin:0; padding:.5em;
	background-color: #6EE6DD;
	transition: 0.6s ease;

}
header p {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;

}

#logo {
	height: auto;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:0; padding:.5em;
	align-items:center;
}

nav {
	font-family: 'source sans bold';
}

nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content:center;
	margin: 0;

}
nav li {
	margin: 1em;
}

button {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	margin:auto; padding:.5em;
	height: auto;
	max-width: 100%;
}

img {
    display: block;
    max-height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em;
}

#fotobladeren img {
    display: block;
    max-height: 30em;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em;
}

#new {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:baseline;
	align-content: center;
	flex-grow: 1;
 	max-width: 60em;
}

#new img {
	height: 10em;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em;
}

#foot {
 	position:relative;
	top:0;
	left:0;
	right:0;
	margin:0; padding:.5em;
	background-color: #FF5D3F;
}

#foot p {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
}